# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]

# =========================
# ENV FILES
# =========================

.env
.env.local

# =========================
# TEST / CACHE
# =========================

.pytest_cache/
.coverage

# =========================
# LOGS
# =========================

*.log
