# =========================
# PYTHON CACHE
# =========================

__pycache__/
*.py[cod]

# =========================
# VIRTUAL ENV
# =========================

.venv/
venv/

# =========================
# ENV FILES
# =========================

.env
.env.local

# =========================
# TEST / CACHE
# =========================

.pytest_cache/
.coverage

# =========================
# DATABASE / DATA
# =========================

*.db
*.sqlite3

# =========================
# LOGS
# =========================

*.log

# =========================
# UV
# =========================

.python-version
